ul {
    list-style-type: none;
    overflow-y: scroll;
}
.create {
    height: 100%;
}

.create-form {
    height: 70%;
}

.create-button {
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create label {
    font-size: 18px;
}

/* .create input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    opacity: 100%;
} */