.speech-wrapper{
  padding: 5px 25px;
}

.bubble{
  width: 40%;
  height: auto;
  display: block;
  background: #dcf8c6;
  border-radius: 10px;
  box-shadow: 2px 8px 5px #000;
  position: relative;
  margin: 0 0 25px;
  overflow-wrap: break-word;
  opacity: 90%;
}

.alt{
  margin: 0 0 0 59.5%;
}

.txt{
  padding: 8px 12px 8px 14px;
}

.name{
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 4px;
  color: #125785;
}

.span{
  font-weight: normal;
  color: #b3b3b3;
}

.alt .name{
  color: #357951;
}

.message{
  font-size: 14px;
  margin: 0;
  color: #2b2b2b;
}

.timestamp{
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase; color: rgb(105, 105, 105)
}

.bubble-arrow {
  position: absolute;
  width: 0;
  bottom:42px;
  left: -16px;
  height: 0;
}

.alt .bubble-arrow{
  right: -2px;      
  bottom: 40px;
  left: auto;
}

.bubble-arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 9px solid  #dcf8c6;

  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}
.bubble-arrow.alt:after {
  transform: rotate(45deg) scaleY(-1);
}
/* ul{
  padding-left:0;
  margin:0;
  list-style-type:none;
  overflow-y:auto;
  height:690px;
}
li{
  padding:10px 0;
}
li:hover{
  background-color:#5e616a;
} */