.chat-window{
    height : 100%;
    vertical-align:top;
}

.chat-header{
    height : 7%;
    border-radius: 5px;
    outline: 2px solid #075e54;
    background-color:#128c7e;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    padding-bottom: 5px;
    vertical-align: middle;
    display:flex;
    position: relative;
    justify-content: center;
    /* outline-offset: -5px; */
}

.chat-header p {
    width: 75%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: inline-block;
    align-self: center;
    color: aliceblue;
}

.chat-header button {
    width :20%;
    height: 80%;
    border: none;
    background-color: darkred;
    border-radius: 5px;
    outline: 2px solid darkred;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 18px;
    color:aliceblue;
    
}

.chat-header button:hover {
    width :20%;
    height: 80%;
    border: none;
    background-color: aliceblue;
    border-radius: 5px;
    outline: 2px solid darkred;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 18px;
    color:darkred;
    
}

.chat-body{
    border-radius: 5px;
    outline: 2px solid #25d366;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    height : 81%;
    background-position: center;
    background-repeat: no-repeat;
    background-size :cover;
    /* background-size :contain; */
    background-image : url('https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25');
}

.chat-sending-options{
    height : 8%;
    /* border-radius: 5px;
    outline: 2px solid rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px; */
}

.chat-body ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:auto;
    height:100%;
  }
li{
    padding:10px 0;
}
/* .chat-body li:hover{
    background-color:#ffffff;
    opacity: 5%;
} */

.send-message input{
    width : 54%;
    height : 30px;
    border-radius: 5px;
    border: none;
    outline: 2px solid #b1c6c7;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.send-message input::placeholder{
    color:rgb(119, 118, 118);
}

.send-message button{
    width :20%;
    height : 30px;
    border: none;
    background-color: #25d366;
    border-radius: 5px;
    outline: 2px solid #25d366;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color:aliceblue;
}

.send-message button:hover{
    width :20%;
    height : 30px;
    background-color:aliceblue;
    border-radius: 5px;
    outline: 2px solid #25d366;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color:#25d366;
}