.chat-window{
    height : 100%;
}

.chat-header{
    height : 10%;
}

.chat-body{
    height : 80%;
}

.chat-sending-options{
    height : 10%;
}

ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:auto;
    height:690px;
  }
li{
padding:10px 0;
}
li:hover{
background-color:#5e616a;
}